@import "tailwindcss";

@theme {
    --color-lamaSky: oklab(91.642% -0.03406 -0.03142);
    --color-lamaSkyLight: oklab(97.434% -0.01061 -0.0089);
    --color-lamaPure: oklab(86.835% 0.01844 -0.06506);
    --color-lamaPureLight: oklab(96.028% 0.00655 -0.01903);
    --color-lamaYellow: oklab(91.175% -0.01402 0.12441);
    --color-lamaYellowLight: oklab(98.72999999999999% -0.00555 0.02553);
}

.react-calendar {
    width: 100% !important;
    border: none !important;
    font: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
    background-color: #C3EBFA !important;
    color: black !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}